html {
	font-size: 8px;
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
	padding: 0;
	margin: 0;
}

body {
	font-size: 22px;
	font-weight: normal;
	font-style: normal;
	line-height: 2;
	font-family: 'Roboto', sans-serif;
}

a {
	text-decoration: none;
}

.container {
	width: 100%;
	margin: 0 auto;
}

.container__flex {
	display: flex;
}

.navbar {
	justify-content: space-between;
	align-items: center;
	padding: 0.5rem 1rem;
}

.company__logo {
	max-width: 4.5rem;
}

.hamburger-menu {
	width: 3.5rem;
	z-index: 99;
	cursor: pointer;
}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu span {
	background-color: #6043f5;
	content: '';
	display: block;
	height: 0.4rem;
	border-radius: 0.5rem;
	width: 100%;
	transition: 1s ease-in-out;
}

.hamburger-menu::before {
	transform: translateY(-0.3rem);
}

.hamburger-menu::after {
	transform: translateY(0.3rem);
}

.hamburger-menu.menu-active::before {
	transform: translateY(0.3rem) rotateZ(-45deg);
}

.hamburger-menu.menu-active span {
	opacity: 0;
}

.hamburger-menu.menu-active::after {
	transform: translateY(-0.5rem) rotateZ(45deg);
}

.nav__links {
	list-style: none;
	padding-top: 8rem;
	
}

.nav__links li a {
	color: inherit;
}

.side-nav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	right: 0;
	top: 0;
	opacity: 0.9;
	overflow-x: hidden;
	padding-top: 5rem;
	background-color: #222121;
	transition: 0.5s;
}

.active {
	display: block;
	width: 50%;
	position: fixed;
	transition: 0.3s ease;
}

.nav__links {
	background-color: #c4c4c4;
}

.nav__links li {
	padding: 1rem 2rem;
	text-align: center;
	margin-right: 3rem;
	
}

.nav__links li a {
	transition: all 0.3s ease 0s;
}

@media screen and (min-width: 768px) {
	.navbar {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.hamburger-menu {
		display: none;
	}

	.nav__links {
		display: flex;
		justify-content: flex-end;
		width: 100%;
		padding: 0;
		background-color: inherit;
		position: relative;
	}

	.nav__links li {
		padding: 0 0.8rem;
	}
}

@media screen and (min-width: 960px) {
	.navbar {
		padding: 1rem 4rem;
	}
}
