body {
  height: 100%;
  background: #ffffff;
}

html {
  height: 100%;
}

.heros {
  
  width: 100%;
  height: 322px;
  left: 0px;
  top: 55px;
  background: #B5A7FA;
}

.Dimages {
  
  width: 737px;
  height: 350px;
  margin-left: 305px;
  margin-right: 350px;
  margin-top: 150px;
  /* background: url(Classic-Rooms-Accommodation-Dublin.jpg); */
}

.heroescover{
  height: 400px;
}

.new-container{
  display: grid;
  grid-gap: 10px;
  grid-template-columns: auto auto auto;
}

.thumb{
  width: 200px;
  height:150px;
}


.grid-container {
  display: grid;
  grid-gap: 50px 100px;
  grid-template-columns: auto auto auto auto;
  padding: 10px;
}

.another-container{
  display:grid;
  grid-gap:10px;
  grid-template-columns: auto auto ;
}

.footericon{
  margin-right: 15px;
}

.footersocial{
  margin-right: 30px;
  font-size: 30px;
}

.footer-top {
  background-color:#080227;
  
}
.footer ul{
    list-style: none;
    padding: 12px 0;
}
.footer ul li a{
    color:white;
    text-decoration: none;
}

#footerparagraph{
  letter-spacing: 3px;
  font-weight: 600;
  font-size: normal;
}

.grid-container {
  display: grid;
  grid-gap: 10px 10px;
  grid-template-columns: auto auto auto auto;
  padding: 5px;
  background-color: #080227;
  color: #ffffff;
}

.grid-item {
  padding: 20px;
  font-size: 20px;
  text-align: left;
}















input{
  border-radius: 3px;
 border: 1px solid #b4ba8d;
  background-color: #dff0d8;
  padding: 8px;
  margin: 20px;
  width:400px; 
  justify-content: center;
}
.spanbutton{ font-family: 'Segoe UI';
 color: white;
 border: 1px solid #b4ba8d;
 border-radius: 6px;
 background-color: #f5b943;
 padding:5px;
  text-decoration: none;
}



.flex-box{
  display: flex;
  /* flex-basis: 31%; */
/* justify-content: space-around; */
justify-content: space-between;
margin-left: 300px;
text-align: center;
}
.pad-flex {
  padding: 0 10rem;
}

.form{
  font-size: 25px;
  color: #745af7;
  margin-bottom: 1px;
  margin-top: 140px;
  
}